:root{
    --bg-white: #FFFFFF;
    --icon-color: #0F1419;
    --blue-color: #1A8CD8;
    --purple-color:#6F4EA9;
    --grey-btn: rgb(135,137,140);
    --faded-grey-text: #536471;
    --black-btn-bg: #272C30;
}

*:focus{
    outline: none;
}

body{
    font-family: "Inter Tight", serif;
   height: 100%;
   margin: 0;
   position: relative;
   user-select: none;
  
   
}

nav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-left: 10px;
    padding: 15px;
    
}

.active{
    font-weight: bolder;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-container:hover{
    font-weight: bold;
}
#logo-text{
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    margin: 0;
}

span.icons{
    font-size: 2rem;
}


.nav-text{
    font-size: 1.5rem;
    margin: 8px 0;
    padding-left: 15px;
   
}

.logo{
    margin-bottom: 10px;
}


.nav-btn{
    width: 95%;
    padding: 12px 24px;
    font-size: 1.5rem;
    border-radius: 25px;
    background-color: var(--black-btn-bg);
    color: var(--bg-white);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover{
    background-color: var(--bg-white);
    color: var(--icon-color);
    font-weight: bold;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 25px;
}

.bold{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--icon-color);
}
.handle{
    margin: 0;
    font-size: 1.2rem;
    color: var(--faded-grey-text);
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
   padding:10px;
    background-color: var(--purple-color);
   margin: 0;
   color: var(--bg-white);
   font-size: 1.8rem;
   /* display: flex;
   justify-self: center;
   align-items: center; */
}


.text{
    margin-left: 15px;
}


#post-nav{
    display: none;
}

.top{
    display: none;
}


/* begining of main style */

main{
    height: 100%;
    margin-left: 300px;
    overflow-x: hidden;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 2fr 2fr; */
}

.feed-container{
    flex-grow: 1;
    border: 2px solid #F7F7F7;
    width: 550px;
   max-width: 100%;
   position: relative;
    
}

.for-you-text{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    background-color: #F7F7F7;
    padding: 15px;
}

.underline{
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

.text-p{
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--faded-grey-text);
    cursor: pointer;
}

.textarea-container{
    display: flex;
    justify-content: center;
    margin: 35px 0;
}

.text-icons{
    padding-left: 15px;
    position: relative;
}
.blue-icons{
    color: var(--blue-color);
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}
textarea{
    resize: none;
    width: 600px;
    border: none;
    height: 65px;
    display: block;
    overflow: hidden;
}

#input::placeholder{
    font-size: 1.8rem;
    color: #A4ADB4;
}

.feed-btn{
    position: relative;
    right: -250px;
    padding: 12px 24px;
    border: none;
    border-radius: 22px;
    font-size: 1.3rem;
    background-color: rgb(135, 137, 140);
    color: var(--bg-white);
    cursor: pointer;
    font-weight: bold;
}

.show-more{
    display: flex;
    justify-content: center;
    border-top: 5px solid #F7F7F7;
    border-bottom: 5px solid #F7F7F7;

}

.show-more h2{
    color: var(--blue-color);
    font-weight: 500;
    cursor: pointer;
}

.render-div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 650px;

}

.user-pic{
    padding-right: 20px;
}
.user-pic img{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.caption{
    word-wrap: break-word;
    line-height: 1.6;
    font-size: 17px;
    color: var(--icon-color);
    margin:10px 0;
}

.username{
    display: flex;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.username:hover{
    text-decoration: underline;
}


.verified{
    color: var(--blue-color);
    padding: 0 5px;
}

.handle-user{
    font-size:1.2rem ;
    color: var(--faded-grey-text);
    font-weight: 400;
}

.user-infor-posts img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
}

.reactions{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.reaction-container{
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--faded-grey-text);
    display: flex;
    align-items: center;
}

.reaction-container p{
    margin: 0;
    padding-left: 7px;
}

.blue-reaction:hover{
    color: var(--blue-color);
}

.pink-reaction:hover{
    color: rgb(249, 24, 128);
}

.green-reaction:hover{
    color: #008000;
}

/* last style for last container */
.trending-container{
    width: 570px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
   flex-direction: column;
}

.search-div{
    position: sticky;
    top: 0;
}

input[type=search]{
    width: 80%;
    padding: 17px 16px;
    border: 1px solid #536471;
    border-radius: 24px;
    box-sizing: border-box;
    background-image: url('assets/search-regular-36\ \(1\).png');
    background-repeat: no-repeat;
    background-position: 10px ;
    line-height: 16px;
}

input[type=search]::placeholder{
padding-left: 30px;
font-size: 19px;
}

.premium-div{
   border: 2px solid #F7F7F7;
   padding: 15px;
   border-radius: 27px;
   margin-top: 15px;
}

.premium-div h1{
   margin: 0;
   
}
.premium-text{
    font-size: 16px;
    line-height: 1.6;
}
.subsccribe-btn{
    color: var(--bg-white);
    background-color: var(--blue-color);
    font-weight: bold;
    border: none;
    font-size: 17px;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    
}

.whats-happening-div{
    border: 2px solid #F7F7F7;
   padding: 15px;
   border-radius: 27px;
   margin-top: 15px;
}

.whats-happening-div h1{
    margin-top: 0;
}
.sneak-peak-image{
    display: flex;
    
}

.sneak-peak-image h2{
    margin-top: 0;
    padding-left: 10px;
}

.sneak-peak-img{
    width: 80px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 11px;
}

.grey-text{
    font-weight: normal;
    color: #536471;
    font-size: 18px;
}
.inner-trending{
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.inner-trending:hover{
    background-color:#A4ADB4;
}
.inner-trending p{
    margin: 10px 0;
}

.grey-inner{
    color: #536471;
    font-weight: 500;
    font-size: 15px;
}

.bold-inner{
    font-weight: bold;
    font-size: 19px;
}

.blue-trending{
    color: var(--blue-color);
    font-weight: bold;
    font-size: 20px;
}