:root{
    --bg-white: #FFFFFF;
    --icon-color: #0F1419;
    --blue-color: #1A8CD8;
    --purple-color:#6F4EA9;
    --grey-btn: rgb(135,137,140);
    --faded-grey-text: #536471;
    --black-btn-bg: #272C30;
}

*:focus{
    outline: none;
}

body{
    font-family: "Inter Tight", serif;
   height: 100%;
   margin: 0;
   position: relative;
   user-select: none;
}

nav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-left: 10px;
    
}

.active{
    font-weight: bolder;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-container:hover{
    font-weight: bold;
}
#logo-text{
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    margin: 0;
}

span.icons{
    font-size: 2rem;
}


.nav-text{
    font-size: 1.8rem;
    margin: 8px 0;
    padding-left: 15px;
}

.logo{
    margin-bottom: 10px;
}


.nav-btn{
    width: 95%;
    padding: 12px 24px;
    font-size: 1.5rem;
    border-radius: 25px;
    background-color: var(--black-btn-bg);
    color: var(--bg-white);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover{
    background-color: var(--bg-white);
    color: var(--icon-color);
    font-weight: bold;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 25px;
}

.bold{
    margin: 0;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--icon-color);
}
.handle{
    margin: 0;
    font-size: 1.2rem;
    color: var(--faded-grey-text);
}
.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
   padding: 12px;
    background-color: var(--purple-color);
   margin: 0;
   color: var(--bg-white);
   font-size: 2rem;
}


.text{
    margin-left: 15px;
}


#post-nav{
    display: none;
}

.top{
    display: none;
}


/* begining of main style */

main{
    height: 100%;
    margin-left: 250px;
    overflow-x: hidden;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.feed-container{
    flex-grow: 2;
    border: 2px solid #F7F7F7;
    
}

.for-you-text{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
}

.underline{
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

.text-p{
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--faded-grey-text);
    cursor: pointer;
}

.textarea-container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.text-icons{
    padding-left: 15px;
    position: relative;
}
.blue-icons{
    color: var(--blue-color);
    font-size: 40px;
    padding: 10px;
}
textarea{
    resize: none;
    width: 600px;
    border: none;
    height: 65px;
    display: block;
    overflow: hidden;
}

::placeholder{
    font-size: 1.8rem;
    color: #A4ADB4;
}

.feed-btn{
    position: relative;
    right: -250px;
    padding: 12px 24px;
    border: none;
    border-radius: 22px;
    font-size: 1.3rem;
    background-color: rgb(135, 137, 140);
    color: var(--bg-white);
    cursor: pointer;
    font-weight: bold;
}

.trending-container{
    background-color: chartreuse;
    flex-grow: 1;
}
