:root{
    --bg-white: #FFFFFF;
    --icon-color: #0F1419;
    --blue-color: #1A8CD8;
    --purple-color:#6F4EA9;
    --grey-btn: rgb(135,137,140);
    --faded-grey-text: #536471;
    --black-btn-bg: #272C30;
}

body{
    font-family: "Inter Tight", serif;
   height: 100%;
   margin: 0;
   position: relative;
   user-select: none;
}

nav{
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: cadetblue;
}


.nav-container{
    display: flex;
    align-items: center;
    justify-content: left;
}
#logo-text{
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    margin: 0;
}

span.icons{
    font-size: 2rem;
}


.nav-text{
    font-size: 1.8rem;
}


main{
    height: 100%;
    margin-left: 240px;
    background-color: #6F4EA9;
    overflow-x: hidden;
}
h1{
    margin: 0;
}