/* this is for mobile phones/smaller screens */

@media screen and (max-width: 576px) {
    nav{
        width: 100%;
       margin: 0 auto;
       overflow: hidden;
       display: flex;
       justify-content: space-around;
       position: fixed;
       bottom: 0;
       top: auto;
       height: 50px;
       background-color: #e9ecef;
       padding: 5px;
    }

    .nav-text{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    #post-nav{
        display: block;
    }
    main{
       margin-left: 0;
       padding: 0;
    }
    .hidden{
        display: none;
    }

    .trending-container{
        display: none;
    }

    .textarea-container{
        display: none;
    }
    .top{
        display: flex;
        align-items: center;
        justify-content:left;
        padding-left: 20px;
        margin: 15px 0;
    }
    
    .top-text{
        font-size: 1.5rem;
       padding-left: 10px;
      margin: 5px 0;
    }
    .circle-two{
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 10px;
        background-color: var(--purple-color);
        font-size: 1.5rem;
        color: var(--bg-white);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .render-div{
        width: 100%;
        padding: 10px;
        height:100%;
    }

    .user-infor-posts{
        width: 80%;
    }
    
    .user-pic{
        padding-right: 5px;
        
    }

    .caption{
        word-wrap: break-word;
        font-size: 14px;
    }

    .user-pic img{
        width: 30px;
        height: 30px;
    }

    .fa-share-nodes{
        display: none;
    }
    /* .user-infor-posts img{
        width: 300px;
    } */
}

/* this is for tablets and phones with larger screens */
@media screen and (min-width: 577px) and (max-width: 768px){
    nav{
        width: 100px;
        position: fixed;
        right: 0;
        left: auto;
        top: 0;
        padding: 5px;
        
    }
    .nav-text{
        display: none;
    }
    main{
        margin-right: 100px;
        margin-left: 0;
    }
    .nav-container{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    span.icons{
        font-size: 3rem;
    }

    #img-logo{
        width: 60px;
        height: 60px;
    }

    .nav-btn{
        display: none;
    }

    #post-nav{
        display: block;
    }

    .profile{
        display: flex;
        justify-content: center;
    }

    .text{
        display: none;
    }

    .feed-btn{
        position: relative;
        right: -110px;
    }
    .render-div{
        width: 100%;
        padding: 10px;
        height:100%;
    }
    .trending-container{
        display: none;
    }
    .user-pic img{
        width: 30px;
        height: 30px;
    }
    .fa-share-nodes{
        display: none;
    }

   
    
}

/* this is for laptops, tablets, small desktops */
@media screen and (min-width: 769px) and (max-width: 1290px){
    nav{
       width: 100px;
       padding: 5px;
    }
    .nav-text{
        display: none;
    }
    main{
        margin-left: 100px;
    }
    .nav-container{
        display: flex;
        justify-content: center;
        padding-top: 19px;
    }
    span.icons{
        font-size: 3rem;
    }
    #img-logo{
        width: 60px;
        height: 60px;
    }

    .nav-btn{
        display: none;
    }

    #post-nav{
        display: block;
    }

    .profile{
        display: flex;
        justify-content: center;
    }

    .text{
        display: none;
    }
    .trending-container{
        display: none;
    }
    .render-div{
        width: 100%;
        padding: 10px;
        height:100%;
    }
    .feed-btn{
        position: relative;
        right: -110px;
    }
    .user-pic img{
        width: 30px;
        height: 30px;
    }
    .fa-share-nodes{
        display: none;
    }
}